.main-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/4.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    }

.botones-lib {
    display: flex;
    width: 90%;
height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 10px 0;
}



.casa{
    width: 40px;
    height: auto;
    padding: 0 30px 0 15px;
   }
   .casa:hover {
    transform: translateY(-2px);
  }

   .btnverde{
    align-items: center;
    
    background-color: rgb(17, 200, 0);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(17, 200, 0) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    height: 33px;
    justify-content: center;
    padding: 0 40px 0 40px;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
    font-size: 15px;
    font-weight: bolder;
    
   }

   .btnverde:focus {
    box-shadow: rgb(17, 200, 0) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(17, 200, 0) 0 -3px 0 inset;
  }
  
  .btnverde:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(17, 200, 0) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btnverde:active {
    box-shadow: rgb(17, 200, 0) 0 3px 7px inset;
    transform: translateY(2px);
  }


.tabla-contenedor {
    display: flex;
    width:90%;
    height: 550px;
    
    border-radius: 13px;
    overflow: auto;
    backdrop-filter: brightness(30%);
}

.informacion1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    overflow: auto;

}

.informacion
{
    display: flex;
    flex-direction:row;
    width: auto;
    margin: 10px;
    
    
 }

.primera {
    width: 60%;
    display: flex;
    border: solid 2px rgb(166, 166, 166);
    border-radius: 7px;
    margin-right: 20px;
    }


.primera div:first-child {
    width: 50%;
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0 0 0 20px;
  

}
.primera div:last-child {
    width: 50%;
    background-color: yellllow;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0 0 0 20px;
    
}



.primera p {
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
    font-size: 15px;
    color: rgba(255, 162, 0, 0.944);
    }

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: solid 2px rgb(166, 166, 166);
    border-radius: 7px;
}

.botones-ed-el {
    display: flex;
    flex-direction: row;
}

.libroimg img {
    width: 105px;
height: auto;
margin: 0;
}




h2 {
    display: flex;
    margin: 0;
    font-size: 15px;
    color: rgb(210, 210, 210);
}
.btn1 {
    align-items: center;
    background-color: rgb(17, 200, 0);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(17, 200, 0) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    height: 33px;
    justify-content: center;
    padding: 0 40px 0 40px;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 5px 0 0;
    color: rgb(236, 236, 236);
}

.btn1:focus {
    box-shadow: rgb(17, 200, 0) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(17, 200, 0) 0 -3px 0 inset;
  }
  
  .btn1:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(17, 200, 0) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn1:active {
    box-shadow: rgb(17, 200, 0) 0 3px 7px inset;
    transform: translateY(2px);
  }
  

  .btn2 {
    align-items: center;
    background-color: rgb(228, 0, 0);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(228, 0, 0) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    height: 33px;
    justify-content: center;
    padding: 0 40px 0 40px;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 0 10px 5px;
    color: rgb(236, 236, 236);
}

.btn2:focus {
    box-shadow: rgb(228, 0, 0) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(228, 0, 0) 0 -3px 0 inset;
  }
  
  .btn2:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(228, 0, 0) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn2:active {
    box-shadow: rgb(228, 0, 0) 0 3px 7px inset;
    transform: translateY(2px);
  }