.lol {
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.tabla-contenedor {
    display: flex;
    width:90%;
    height: 500px;
    background-color: red;
}

.informacion 
{
    text-align: center;
    
    width: 50%;
    margin: 10px;
    background: blanchedalmond;
    
    
}

.botones {
    text-align: center;
    
    width: 50%;
    margin: 10px;
    background: blue;
}




.primera p {
margin: 0;
padding: 0 0 0 20px;
font-size: 15px;
}

h2 {
    display: flex;
    margin: 0;
    font-size: 15px;

   
}

img {
    width: 20px;
    height: 20px;
}